/* Global Styling */
nav {
    background-color: #3c3f58;
    margin-bottom: 10px;
}

#website-logo {
    padding-left: 21px;
}

#body {
    background-color: #7077930a;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}
/* ----------- */

/* Landing page styling. */
#landing-page-body {
    background-image: url("../images/1663374.jpg");
}

#enterBirthday {
    font-family: Arial, Helvetica, sans-serif;
}

.landing-page-title {
    display: block;
    text-align: center;
    align-content: center;
}

#enterBirthday {
    font-style: bold;
    font-size: 2rem;
}
/* ----------- */

/* Homepage Styling */
#homepage-container {
    align-content: center;
}

#liquor-list-div {
    width: 50%;
}

#category-list {
    width: 50%;
}

#submitButton {
    background-color: #2e3047;
}

#submit-button {
    padding-left: 11px;
}
#saved-recipes-card-view {
    column-count: 4;
    column-gap: 25px;
    column-fill: auto;
    
}
.card {
    column-fill: balance;
     
}

#card-recipe-name {
    font-weight: bold;
    font-size: 2rem;
}

.modal {
    max-width: 600px;
}

#modal-recipe-image {
    height: auto;
    width: 100%;
    max-width: 600px;
}

#modal-stuff {
    padding-left: 23px;
}
/* ----------- */

/* Saved recipes page styling */
#saved-recipe-image {
    height: auto;
    width: 100%;
}

/* ----------- */

/* Breweries page styling */
#search-local-breweries {
    background-color:  #2e3047;
}

#insert-city-name {
    color:  #2e3047;
}
/* ----------- */